<mat-card fxLayout="column">
    <mat-card-header fxFlex="auto" fxLayout fxLayout="row" fxLayoutAlign="center">
        <mat-card-title>{{question.question}}</mat-card-title>
    </mat-card-header>
    <mat-card-content fxFlex="auto" fxLayout="column" fxLayoutAlign="center wrap" fxLayoutGap="50px">
        <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <app-emoji fxFlex="0 0 0" *ngFor="let emoji of question.emojis; let i = index" [emoji]="emoji"></app-emoji>
        </span>
        <form [formGroup]="form" fxLayoutAlign="center wrap">  
            <mat-form-field>
                <input matInput formControlName="answer" placeholder="answer">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions fxFlex="auto" fxLayoutAlign="end end">
        <button mat-raised-button color="primary" (click)="onAnswer()">Answer</button>
    </mat-card-actions>
</mat-card>