:host {
	text-decoration: none;
	color: #ccc;
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
	font-variant-emoji: emoji;
	vertical-align: text-top;
	min-height: 20px;
}